.containerF {
    max-width: 1280px;
    padding: 0 15px;
    margin: 0 auto;
}

.faq {
    background-image: url(../../assets/img/faq-bg.svg);
    // background-position: center;
    background-repeat: no-repeat;
    min-height: 1700px;
    
    background-position: right center;
    background-origin: content-box;
    &__content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 100px;
        &-q {
            padding-top: 208px;
            // transform: translateX(-112px);
            // padding-left: 65px;
            transform: translateX(64px);

            & h2 {
                
                font-family: Rubik;
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 40px;
                letter-spacing: 0.1em;
                color: #EE4D47;
                text-transform: uppercase;
            }
            & p {
                padding-top: 2px;
                font-family: DM Serif Display;
                font-style: normal;
                font-weight: normal;
                font-size: 48px;
                line-height: 140%;
                color: #402B2B;
                max-width: 493px;
            }
        }
    }
    &__img-guy {
        padding-top: 107px;
        // transform: translateX(-178px);
    }
    &__extend-button {
        // float: right;
        margin-right: 65px;
        cursor: pointer;
        width: 550px;
        padding: 0 35px;
        height: 90px;
        border-radius: 10px;
        background-color: rgba(237,77,71, 0.2);
        
        display: flex;
        justify-content: center;
        align-items: center;
        & p {
            font-family: Rubik;
            font-style: normal;
            font-weight: bold;
            font-size: 18px;
            line-height: 30px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #ED4D47 ;
        }
    }
    @media (max-width: 1234px) {
        &__content {
            padding-top: 0;
            flex-direction: column;
            align-items: center; 
            &-q {
                padding-top: 0;
                transform: none;
            } 
        }
        &__extend-button {
            // float: none; 
            margin-right: 0;
            width: auto;
        }
        
    }
    @media (max-width: 767px) {
        &__content {
            &-q {
                & h2 {
                    font-size: 24px;
                    line-height: 30px;
                }
                & p {
                    font-size: 38px;
                }
            } 
        }
        &__img-guy {
            padding-top: 10px;
           & img {
            width: 100%;
                max-width: 273px;
                height: auto;
        }
        }
        
        
    }
    @media (max-width: 424px) {
        &__content {
            &-q {
                & h2 {
                    font-size: 20px;
                    line-height: 20px;
                }
                & p {
                    font-size: 28px;
                }
            } 
        }


        &__img-guy {
            padding-top: 0;
        }
    }
}