
.footer {
    &__car {
        transform: translateY(48px);
    }
    &__top {
        padding-left: 77px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__main {
        background-image: url(../../assets/img/vector_foter.svg); //line is separated from bg    
        background-color: #0F264C;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 662px;
        // max-width: 1400px;
        // border-top-right-radius: 100px;     
        &-descr {
            transform: translateY(-47px);
            max-width: 330px;
            font-family: Rubik;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 30px;
            display: flex;
            align-items: center;
            color: #FFFFFF;
            &::before {
                position: absolute;
                content: "";
                width: 10px;
                height: 160px;
                background-color: #ED4D47;
                border-radius: 5px 0 0 5px;
                margin-left: -50px;
            }
        }
    }
    &__nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 47px;
        padding-left: 28px;
        
    }
    @media (max-width: 1118px) {
        &__main-descr {
            transform: none;
            margin-bottom: 40px;
        }
        &__top {
            padding-top: 70px;
            margin-bottom: 30px;
            transform: none;
            justify-content: center;
            padding-left: 0;
            align-items: center;
            flex-direction: column;
            align-content: center;
        }
    }
    @media (max-width: 768px) {
        &__car img{
            max-width: 273px;
            height: auto;
        }
       
    } 
    @media (max-width: 424px) {
        &__car img{
            max-width: 169px;
            height: auto;
        }
    }
}

.nav_bottom {
    & li:last-child {
        margin-right: 131px;
}
}
.form {
    transform: translateY(-117px);
    margin-right: 131px;
    width: 550px;
    height: 440px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 1);
    padding: 52px 75px;
    box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
    & label {
        font-family: Rubik;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 40px;
        color: #402B2B;
        height: 38px;
        &:nth-of-type(2) {
            
        }
    }
    
    & input {
        font-family: Rubik;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 40px;
        width: 400px;
        height: 60px;
        background: #FFFFFF;
        border: 1px solid rgba(238, 77, 71, 0.5);
        box-sizing: border-box;
        border-radius: 5px;
        padding-left: 38px;
        &:nth-of-type(1) {
            margin-top: 8px;
            margin-bottom: 30px;
        }
        &:nth-of-type(2) {
            margin-top: 8px;
            margin-bottom: 30px;
        }
          
    }
    & input:focus {
        outline: none;
        border: 2px solid #EE4D47;
        box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.2);
        font-family: Rubik;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 40px;
        color: #402B2B;
    }
    @media (max-width: 1118px) {
        transform: none;
        margin-right: 0;
    }
    @media (max-width: 768px) {
        height: auto;
        width: auto; 
        // max-width: 550px;
        // padding: 52px 75px;
        & input {
            width: auto;
        }
    }
    @media (max-width: 424px) {
        padding: 16px 26px;
    }
    
}
// I need ot refactor this code
.bottom__links {
    padding-top: 25px;
    padding-left: 26px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &-social {
        list-style: none;
        display: flex;
        margin-right: 130px;
        & li {
            padding-left: 30px;
        }
    }
}
.logo__bottom img{
    cursor: pointer;
}
.copy {
    font-family: Rubik;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #402B2B;
    padding-top: 21px;
}

