.post{
    // display: inline-block;
    &__question {
        
        cursor: pointer;
        width: 550px;
        padding: 0 35px;
        height: 90px;
        border-radius: 10px;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
        // display: inline-block;
        position: relative;
        z-index: 1;
        & p {
            font-family: Rubik;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 30px;
            color: #402B2B;     
            float: right;   
            max-width: 430px;   
        }
        &-sign {
            width: 20px;
            height: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            & span {
                display: inline-block;
                position: absolute;
                width: 20px;
                height: 2px;
                background-color: #EE4D47;
            }
            & span:nth-of-type(2) {
                transform: rotate(90deg);
                position: absolute;
                width: 20px;
                height: 2px;
                background-color: #EE4D47;
            }
        }
    }
    
    &__answer {
        // display: inline-block;
        transform: translateY(-15px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 35px;
        min-height: 175px;
        max-width: 550px;
        background: #FFF7F5;
        box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
        border-radius: 10px;
        
        font-family: Rubik;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 30px;
        color: #402B2B;
        margin-bottom: 26px;
    }
}

.sign-plus {
    position: absolute;
    width: 2px;
    height: 20px;
    background-color: #EE4D47;
}

.question_com {
    margin-bottom: 12px;
    // display: grid;
    // grid-template-columns: repeat(2, 1fr);
    // grid-template-rows: auto;
    // grid-auto-flow: row;
    // height: auto;
    display: flex;
    flex-wrap: wrap;
    max-width: 1205px;
    padding-top: 85px;
    padding-left: 65px;
}
.post {
    margin: 0 20px 10px 0;
    max-width: 550px;
}
